<div class="settings-right-wrapper addnewuser">
    <div class="flex setting-inner-header">
        <h3 style="color:#FF006A">{{updatetitle ? 'Update Order Status' : 'Add Order Status' | translate}}</h3>
    </div>
    <div class="new-user">
        <form (ngSubmit)="onSubmit()" [formGroup]="orderstatusform" class="form-horizontal m-t-20">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="form-group">
                        <label>{{'Settings.Local.Orderstatus.OrderStatusName' | translate}}<sup class="supvalidation">*</sup></label>
                        <input type="text" formControlName="orderstatusName" class="form-control" placeholder="Order Status Name"
                               [ngClass]="{ 'is-invalid': submitted && f.orderstatusName.errors }"/>
                        <div *ngIf="submitted && f.orderstatusName.errors" class="invalid-feedback">
                            <div *ngIf="f.orderstatusName.errors.required">
                                {{'Settings.Local.Orderstatus.Error.OrderStatusNameisrequired' | translate}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">{{'Settings.Local.Orderstatus.Status' | translate}}
                            <sup class="supvalidation">*</sup></label>
                        <select class="form-control custom-select" formControlName="status"
                                data-placeholder="Choose Role"
                                [ngClass]="{ 'is-invalid': submitted && f.status.errors }"
                                [ngClass]="{ 'invalid': submitted}"
                                placeholder="status">
                            <option value=''>- -Select Status- -</option>
                            <option value="1">{{'Settings.Local.Orderstatus.Enabled' | translate}}</option>
                            <option value="0">{{'Settings.Local.Orderstatus.Disabled' | translate}}</option>
                        </select>
                        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                            <div *ngIf="f.status.errors.required">
                                {{'Settings.Local.Orderstatus.Error.OrderStatusisrequired' | translate}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Color Code</label><br>
                        <input [(ngModel)]="colorcode"
                               [(colorPicker)]="color"
                               formControlName="colorcode"
                               (colorPickerChange)="onchange($event)" [value]="color"/>

                    </div>
                </div>

                <div class="col-12">
                    <div class="flex user-btn">
                        <button type="submit" class="btn btn-add">{{'Settings.Local.Orderstatus.Save' | translate}}
                        </button>
                        <button (click)="Addordstatuscancel()"
                                class="btn btn-cancel"> {{'Settings.Local.Orderstatus.Cancel' |
                            translate}}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



