<ul class="navbar-nav float-right border-left profile-bar">
    <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
        <a ngbDropdownToggle class="nav-link" href="javascript:void(0)" [routerLink]="['/settings']"
           [routerLinkActive]="'active'">
            <img src="assets/img/settings-ico.png" alt="user">
        </a>
    </li>

    <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
        <a ngbDropdownToggle class="nav-link dropdown-toggle waves-effect waves-dark pro-pic" href="javascript:void(0)"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            {{(userDetails && userDetails.firstName) + ' ' + (userDetails && userDetails.lastName)}}
            <img *ngIf="!profileimage"
                 [src]="imageUrls+'?width=60&height=60&path='+userDetails.avatarPath + '&name='+ userDetails.avatar"
                 class="w3-circle" alt="Alps" style="width: 55px;
    height: 55px;">
            <img *ngIf="profileimage"
                 [src]="imageUrls+'?width=60&height=60&path='+profileimage.avatarPath + '&name='+ profileimage.avatar"
                 class="w3-circle" alt="Alps" style="width: 55px;
    height: 55px;">


        </a>
        <div class="dropdown-menu dropdown-menu-right user-dd animated top-settings-menu" ngbDropdownMenu>

            <a class="dropdown-item" [routerLink]="['/../../editprofile']" href="javascript:void(0)">
                <i class="ti-user m-r-5 m-l-5"></i>{{'Profile.user.EditProfile'| translate}} </a>
            <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/change-password']">
                <i class="ti-wallet m-r-5 m-l-5"></i>{{'Profile.user.ChangePassword'| translate}} </a>
            <a class="dropdown-item" href="javascript:void(0)" (click)="logout.emit($event)">
                <i class="fa fa-power-off m-r-5 m-l-5"></i>{{'Profile.user.Logout'| translate}} </a>
        </div>
    </li>
    <!-- ============================================================== -->
    <!-- User profile and search -->
    <!-- ============================================================== -->
</ul>
<!--<app-editprofile></app-editprofile>-->
