<div class="settings-right-wrapper addnewuser">
    <div class="flex setting-inner-header">
        <h3>{{'Settings.Appearence.SettingsAppearencePath' | translate}}</h3>

    </div>
    <div class="new-user">
        <!--<h3>{{'Settings.Appearence.Appearence' | translate}}</h3>-->
        <div class="row">
            <div class="col-lg-12 col-xs-24">
                <div class="form-group">
                    <label class="control-label">{{'Settings.Appearence.Theme' | translate}}</label>
                    <select class="form-control custom-select"
                            data-placeholder="Choose theme">
                        <option value=" ">{{'Settings.Appearence.ChooseTheme' | translate}}</option>
                        <option value="1"></option>
                        <option value="0"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="flex user-btn">`
                <button type="submit" class="btn btn-add">{{'Settings.generalsettings.Save' | translate}}</button>
                <button (click)="appearenceCancel()"
                        class="btn btn-cancel">{{'Settings.generalsettings.Cancel' | translate}}</button>
            </div>
        </div>
    </div>
</div>



