<div class="row products-section products-sub-section">
    <div class="col-12">
        <div class="breadcrumbs-row">
            <div class="bc-col">
                <ul>
                    <li><a href="javascript:void(0)">{{'Sales.Orders.Sales'| translate}} </a></li>
                    <li> {{'Sales.Orders.Orders'| translate}}</li>
                </ul>
            </div>
            <div class="bc-col-btn">
            </div>
        </div>
    </div>
    <!--Breadcrumbs-->
    <div class="col-12">
        <div class="flex filter-row">
            <div class="filter-lft">
                <div class="toggle">
                    <p>{{'Sales.Orders.Filters'| translate}}</p>
                    <input class="tgl tgl-light" id="cb1" (change)="changeFilter($event)" [checked]="true"
                           type="checkbox"/>
                    <label class="tgl-btn" for="cb1"></label>
                </div>
                <div class="order-status">
                    <p>{{'Sales.Orders.OrderStatus'| translate}}</p>
                    <ul class="flex" *ngFor="let orderList of orderStatusSandbox.getOrderstatuslist$ | async">
                        <li><span
                                [ngStyle]="{'color':'white', 'background':orderList.colorCode}"></span>{{orderList.name}}
                        </li>
                    </ul>
                </div>
            </div>
            <!--Lft-->
            <div class="filter-nav-list">
                <ul class="flex">
                    <li><a href="javascript:void(0)" placement="top" ngbTooltip="{{'ToolTip.comingsoon'| translate}}"> <img
                            src="assets/img/export-ico.png" >{{'Sales.Orders.Export'| translate}} </a></li>
                    <li><a href="javascript:void(0)" placement="top" ngbTooltip="{{'ToolTip.comingsoon'| translate}}"> <img
                            src="assets/img/import-ico.png"> {{'Sales.Orders.Import'| translate}} </a></li>
                    <li><a href="javascript:void(0)" placement="left" ngbTooltip="{{'ToolTip.comingsoon'| translate}}"> <img src="assets/img/list-ico.png"> </a></li>
                </ul>
            </div>
            <!--Right-->
        </div>
    </div>
</div>


<div class="flex product-wrap example-full-width">
    <div *ngIf="buttonCheck == true" class="filter-section border-right">


        <div class="w3-container w3-animate-left">

            <app-sales-order-filter (salesEmit)="receiveProgress($event)"></app-sales-order-filter>

        </div>
    </div>
    <!--Filter-->


    <div class="product-table" [ngClass]="{'changesize': buttonCheck == true }">

        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" width="5%">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox mr-sm-2">
                        </div>
                    </div>
                    </th>

                    <th scope="col"  class="text-center">{{'Sales.Orders.OrderId'| translate}}</th>
                    <th scope="col">{{'Sales.Orders.CustomerName'| translate}}</th>
                    <th scope="col">{{'Sales.Orders.TotalAmount'| translate}}</th>
                    <th scope="col">{{'Sales.Orders.DateAdded'| translate}}</th>
                    <th scope="col">{{'Sales.Orders.DateModified'| translate}}</th>
                    <th scope="col">{{'Sales.Orders.View'| translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let orderList of appSandbox.getOrderlist$ | async">
                    <th scope="row">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id={{orderList.orderId}}  value="check">
                                <label class="custom-control-label" for={{orderList.orderId}}></label>
                            </div>
                        </div>
                    </th>
                    <td scope="row" style="text-align: center"><span *ngIf="orderList.orderPrefixId" style="width: 115px;background: #9dec9d;display: inline-block; padding: 3px 7px;"
                                          ngbTooltip="{{orderList.orderStatus.name}}"
                                          [ngStyle]="{'color':'white', 'background':orderList.orderStatus.colorCode}">{{orderList.orderPrefixId}}</span></td>
                    <td>{{orderList.shippingFirstName}}</td>
                    <td>{{orderList.totalAmount}}</td>
                    <td>{{orderList.dateAdded | date: 'dd/MM/yyyy'}}</td>
                    <td>{{orderList.dateModified | date: 'dd/MM/yyyy'}}</td>
                    <td>
                        <a href="javascript:void(0)" (click)="viewOrders(orderList.orderId)"> <img
                                src="assets/img/view-ico.png"> </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="flex table-footer">
                <div class="view-right">
                </div>
            </div>
            <mat-paginator [length]="appSandbox.getOrderlistCount$ | async"
                           [pageSize]="pageSize"
                           [pageIndex]="index"
                           [pageSizeOptions]="[pageSize]"
                           (page)="onPageChange($event)">
            </mat-paginator>

        </div>
    </div>
    <!--Table-->
</div>
