.validationcolor {
    border-color: red;
}
.error{
    color: red;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
sup{
  color: red;
}
