<!--<div [formGroup]="prodfilter" class="new-user">-->

<form [formGroup]="filterForm">

    <div class="form-group">
        <label for="keyword">{{'catalog.product.ProductName'| translate}}</label>
        <input type="text" formControlName="keyword" class="form-control" id="Keyword" aria-describedby="emailHelp"
               placeholder="{{'catalog.product.EnterSearchProductName'| translate}}">
    </div>
    <div class="form-group">
        <label for="sku">{{'catalog.product.Sku'| translate}}</label>
        <input type="text" formControlName="sku" class="form-control" id="sku"
               placeholder="{{'catalog.product.SkuNumber'| translate}}">
    </div>
    <div class="form-group">
        <label>Price</label>

        <div class="radio">
            <label class="prod_filter">
                <input type="radio" name="price" value="Min" (click)="selectPrice('Min')">
                {{'catalog.product.Min-price'| translate}}
            </label>
            <label class="prod_filter">
                <input type="radio" name="price" value="Max" (click)="selectPrice('Max')">
                {{'catalog.product.Max-price'| translate}}
            </label>
        </div>
    </div>
    <div class="form-group">
        <label>Status</label>
        <select class="custom-select col-12" id="inlineFormCustomSelect" formControlName="status">
            <option value="" selected>- -Select Status- -</option>
            <option value="1">Active</option>
            <option value="0">In-Active</option>
        </select>
    </div>
    <div class="text-right filter-btns">
        <a (click)="resetFilter()" href="javascript:void(0)">{{'catalog.product.Reset'| translate}}</a>

        <button type="submit" class="btn"
                (click)="applyFilter()">{{'catalog.product.ApplyFilters'| translate}}
        </button>
    </div>
</form>
