<div class="auth-wrapper">
  <div class="logo-left">
    <img src="assets/img/we-bug-logo.png" />
    <h3>{{ "Profile.Auth.Welcome" | translate }}</h3>
    <p>
      <span>پنل مدیریت</span>
      - پنل مدیریتی پیشرفته با امکاناتی چشمگیر
    </p>
  </div>
  <!--Left-->

  <router-outlet></router-outlet>
  <!-- ============================================================== -->
  <!-- Only router without any element -->
  <!-- ============================================================== -->
</div>
