<div class="auth-wrapper">
    <div class="logo-left">
        <img src="assets/img/logo-v22.png">
        <h3> Welcome </h3>
        <p>
             <span>
                Spurt Demo
            </span>- technology and thoughtfulness combine for a seamless eCommerce
        </p>
    </div>
    <!--Left-->


    <!-- ============================================================== -->
    <!-- Only router without any element -->
    <!-- ============================================================== -->
    <router-outlet></router-outlet>
</div>
