<div class="auth-box on-sidebar">

    <div class="loginform" style="left: 25%;">

        <div class="row m-t-20">
            <!-- Form -->
            <!--VALIDATION FOR FORGET PASSWORD -->

            <form (ngSubmit)="onSubmits($event, forgotPasswordForm.value)" [formGroup]="forgotPasswordForm"
                  class="form-horizontal m-t-20">
                <h3>Forgot Password</h3>
                <!---->
                <div class="input-group mb-4">
                    <input type="text" class="form-control form-control-md" placeholder="Email" aria-label="Email"
                           aria-describedby="basic-addon1" formControlName="email"
                           [ngClass]="{'validationcolor':forgotPasswordForm.get('email').hasError('required') && (forgotPasswordForm.get('email').touched)&&ifSubmitted==true}">
                </div>

                <!--Email VALIDATION-->
                <div class="error"
                     *ngIf="(forgotPasswordForm.get('email').hasError('required') && forgotPasswordForm.get('email').touched)&&ifSubmitted==true ">
                    Email required
                </div>

                <div class="error"
                     *ngIf="(forgotPasswordForm.get('email').hasError('pattern') && forgotPasswordForm.get('email').touched)&&ifSubmitted==true">
                    Incorrect email
                </div>

                <!---->
                <div novalidate class="form-group row">
                    <div class="col-md-6">
                        <div class="custom-control custom-checkbox">
                            <a href="javascript:void(0)" [routerLink]="['/auth/login']" class="text-dark"> <img
                                    src="assets/img/arrow-left-long.png"> Back to Login</a>
                        </div>
                    </div>
                    <div class="col-md-6 p-b-20">
                        <button class="btn btn-block btn-info  float-right" type="submit">
                            Submit
                            <span [hidden]="!(authSandbox.forgotpasswordLoading$ | async)"
                                  class="spinner-border spinner-border-sm pull-right" role="status"
                                  aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

