<app-cms-header></app-cms-header>
<div class="row products-section">
    <div class="col-12">
        <div class="card">
            <div class="product-ts-left">
                <ul>
                    <li>
                        <p>{{'CMS.Pages.Advertisement'| translate}}</p>
                        <h3>241
                            <button type="button" class="btn" placement="right"
                                    ngbTooltip="{{'Customers.ToolTip.Tooltiponright'| translate}}">
                                <img src="assets/img/info-ico.png"></button>
                        </h3>
                    </li>
                    <li>
                        <p>{{'CMS.Pages.ColdCall'| translate}}</p>
                        <h3>241
                            <button type="button" class="btn" placement="right"
                                    ngbTooltip="{{'Customers.ToolTip.Tooltiponright'| translate}}">
                                <img src="assets/img/info-ico.png"></button>
                        </h3>
                    </li>
                    <li>
                        <p>{{'CMS.Pages.EmployeeReferrel'| translate}}</p>
                        <h3>241
                            <button type="button" class="btn" placement="right"
                                    ngbTooltip="{{'Customers.ToolTip.Tooltiponright'| translate}}">
                                <img src="assets/img/info-ico.png"></button>
                        </h3>
                    </li>
                    <li>
                        <p>{{'CMS.Pages.ExternalReferrel'| translate}} </p>
                        <h3>241
                            <button type="button" class="btn" placement="right"
                                    ngbTooltip="{{'Customers.ToolTip.Tooltiponright'| translate}}">
                                <img src="assets/img/info-ico.png"></button>
                        </h3>
                    </li>
                    <li>
                        <p>{{'CMS.Pages.Online'| translate}}</p>
                        <h3>241
                            <button type="button" class="btn" placement="left"
                                    ngbTooltip="{{'Customers.ToolTip.Tooltiponright'| translate}}">
                                <img src="assets/img/info-ico.png"></button>
                        </h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
