
.mat-radio-container{
  height: 14px !important;
}

.mat-radio-label-content {
  padding-left: 10px!important;
  padding-right: 11px !important;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
